<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>글쓰기</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <script defer th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<section class="container mt-3">
  <h2 class="text-center mb-3">글쓰기</h2>
  <form th:action method="post" th:object="${board}">
    <div class="mb-3">
      <input type="text" th:field="*{title}" class="form-control" placeholder="제목">
    </div>

    <div class="mb-3">
      <textarea th:field="*{content}" rows="5" class="form-control" placeholder="내용"></textarea>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-dark w-100">글쓰기</button>
    </div>
  </form>
</section>
</body>
</html>